.inputContentGroup {
  display: flex;
  flex-direction: column;
  color: white;

  > label {
    font-weight: bold;
  }

  > input {
    border-radius: 10px;
    border: none;
    padding: 0.3rem 0.6rem;
    margin-top: 0.3rem;
  }
}

.errorMessage {
  height: 1rem;
  font-size: 0.8rem;
  color: rgb(255, 73, 73);
  margin-bottom: 0.3rem;
  margin-top: 0.2rem;
}
